# =======================================
# DATABASE (Local)
# =======================================
DB_NAME="munch"
DB_USER="admin"
DB_PASSWORD="Password"
DB_HOST="localhost"
DB_PORT="5432"

# =======================================
# LOCAL SECURITY
# =======================================
DEBUG=True
SECRET_KEY=""
ALLOWED_HOSTS="" # ignore for now, CORS is a bum

# =======================================
# FRONTEND URL
# =======================================
FRONTEND_URL="http://localhost:3000" # For NextJS main website 
# we will need to add more frontend urls here later for other services
