# =======================================
# DATABASE (Local)
# =======================================
DB_NAME="munch"
DB_USER="admin"
DB_PASSWORD="Password"
DB_HOST="localhost"
DB_PORT="5432"

# =======================================
# LOCAL SECURITY
# =======================================
DEBUG=true
SECRET_KEY="django-insecure-0!$3t%b54ur%m1)@s$9j7_x9ojwv9g0q69s@r2)&i=nc_nmsi2"
ALLOWED_HOSTS="*" # ignore for now, CORS is a bum

# =======================================
# FRONTEND URL
# =======================================
FRONTEND_URL="http://localhost:3000" # For NextJS main website 
# we will need to add more frontend urls here later for other services
